:root{
    --base-color: #201e1e36;
    --text-color: #e9e3e3;
    --text-color-other: #ccc9c9;
    --line-color: #a3a1a1;
    --hover-color: #c1fad4;
    --menu-color: #04a08b;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .containers{
        flex-direction: column;
    }
    aside.nav-side-bar {
        width: 100%;
        height: auto;
        transition: width 0.5s ease-in-out;
    }
    aside > .side-bar{
        margin-top: 0;
        margin-bottom: 0;
    }
    #sid-nav-btn1{
        display: none;
    }
    #sid-nav-btn2.toggle-btn1{
        display: block;
        transform: rotate(-90deg);
    }
}

body{
    width: 100vw;
    height: 100vh;    
    background-color: var(--base-color);
    font-family: 'Courier New', Courier, monospace;
}
.containers{    
    display: flex;
    margin: 0 auto;
    /*gap: 1.8rem;*/
}

/* Sidebar Start*/
.nav-side-bar{
    width: 250px;
    background-color:  currentColor;    
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: all 0.5s ease-in-out;
}

.nav-side-bar.expand{
    width: 70px;
    max-width: 70px;  
    transition: all 0.5s ease-in-out;
}
.nav-header{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: midnightblue;
    padding: .5rem;
    height: 50px;
    transition: all 0.5s ease-in-out;
}
.nav-header-left{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all .2s;
}
a.navbar-brands{
    height: 40px;  
    border-radius: .5rem;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.toggle-btn1{
    height: 40px;
    width: 40px; 
    border-radius: .5rem; 
    cursor: pointer;
    transform: skewX(14deg);
    padding: .2rem;
}
.toggle-btn1:hover{  
    background-color: #e25a0b;
    border-color: #0be20b;
    transition: .02s;
}
#sid-nav-btn2{
    display: none;
}

.side-bar{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: auto; 
    gap: .15rem;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
    transition: all 0.5s ease-in-out;

}
.side-bar a{
    display: flex;
    height: 2rem;
    gap: 1rem;
    align-items: center;
    color: var(--menu-color);
    border-top: 1px solid var(--line-color) ;
    transition: all 0.5s ease-in-out;
}
.side-bar a:hover{
    background-color: var(--hover-color);
    box-shadow: 0 4px 8px 0 rgb(248, 246, 109), 0 6px 20px 0 rgba(253, 252, 252, 0.562);
}
.side-item{
    height: 2.3rem;
    align-content: center;
}
.sub-item{
    background-color: #444546;
    transition: .5s;
    display: none;
    padding: .5rem;
    overflow: hidden;
}
.sub-item a:hover{
    background-color: #e74f75;
}
.sub-item.show{
    display: block;
    overflow: hidden;
}
.side-footer{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    overflow: hidden;
}
.rounded-img{
    border-radius: .5rem; 
    animation: fadeIn 5s; 
}
hr{
    padding: 1px;
}
.nav-side-bar.expand .side-item a:hover.sub-item-menu{
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e223e;
    padding: 0;
    min-width: 15rem;
    display: block;
  }
  
.nav-side-bar.expand .side-item > a > span,
.nav-side-bar.expand .side-bar >  .sub-item  > a span,
.nav-side-bar.expand .nav-header > a > img{
    display: none;
}
.nav-side-bar.expand .nav-header > .toggle-btn1{    
  transform: rotate(180deg);
  transition: all 0.5s ease-in-out;
}
.nav-side-bar.expand .nav-header,
.nav-side-bar.expand .side-item a{    
  justify-content: center;
}

/* Sidebar End*/

main{    
    flex-grow: 1;
}
.main-container{
    height: 100vh;
    /*border: 2px solid whitesmoke;*/
    align-items: center;
}
.main-container-head{    
    background-color: midnightblue;
    padding: .5rem .5rem .5rem 1.5rem;
    height: 50px;
    align-content: center;
    color: cornflowerblue;
}
.main-content{
    margin: 10px;
    padding: 1rem;
    display: flex;
}
.content{
    border: 1px solid var(--line-color);
    border-radius: 1rem;
    padding: .85em;
    background-color: beige;
}

