{% extends "shop_apps/master.html" %}

{% block title %}
  SST | Products
{% endblock %}

{% block header %}
  Products
{% endblock %}

{% block content %}
<div class="main-content">
  <div class="content">    
    <div class="form-header" style="display: flex; background-color: rgb(197, 161, 231);">      
      <div>
        <h3>Products</h3>
      </div>
    </div>   
   
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" style="padding: (var(--bs-gutter-x)* .5);"
        {% for data in prod %}
        <div class="col mb-5">
          <div class="card h-100 bg-dark">           
            <img src="{{data.item_image.url}}" class="card-img-top" alt="Product Image" height="200px" width="200px">        
            <div class="card-body p-4" style="color: aliceblue; text-align: center;">
              <h5 class="card-title">{{ data.item_name }}</h5>
              <p class="card-text">{{ data.brand_name }}</p>
              <h4>{{ data.item_sprice }}</h4>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0">
              <div class="text-center">
                <a href="{% url 'shop_apps:product_details' data.pk %}" class="btn btn-outline-dark mt-auto bg-primary">Details</a>
              </div>
            </div>
          </div>
        </div>        
        {% endfor %} 

      </div>
    </div>   
  </div>
</div>

{% endblock %}