{% extends "business_apps/master.html" %}

{% block title %}
  SST | Add Category
{% endblock %}

{% block header %}
  Add Category
{% endblock %}

{% block breadcrumbs %}
{% url 'slt:business' as url %}
{% url 'slt:category' as urls %}
<div style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ul style="display: flex; flex-wrap: wrap; margin-bottom: 0; padding-left: 0;">
    <li class="breadcrumb-item"><a href="{{url}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{urls}}"> Category</a></li>
    {% if form.instance.pk %}
    <li class="breadcrumb-item active" aria-current="page">Update Category</li> 
    {% else %}
    <li class="breadcrumb-item active" aria-current="page">New Category</li> 
    {% endif %}
  </ul>
</div>
{% endblock %}

{% block content %}

<div class="main-content">
  <div class="add-container">
    <div class="content">  
      <nav class="navbar navbar-expand">
        <div class="container-fluid">
          <div class="navbar-nav me-auto mb-2 mb-lg-0" style="align-items: center;">
            {% if form.instance.pk %}
              <span style="font-size: 1.3rem; font-weight: bolder; margin-right: 2rem; background-color: rgba(255, 17, 0, 0.822);">Edit Category : {{ form.instance.category_name}}</span>
            {% else %}
            <span style="font-size: 1.3rem; font-weight: bolder; margin-right: 2rem;">Add Category</span>
            {% endif %}
            <a class="nav-link" href="{% url 'slt:category' %}">List Category</a>
          </div>
        </div>
      </nav>
      <hr style="margin: .0rem 0rem 1rem 0rem;
      color: inherit;
      background-color: currentColor;
      border: 0;
      opacity: .75;">
      <form class="form-container" method="POST" enctype="multipart/form-data">
  
        <!-- Security token -->
        {% csrf_token %}
        
        <div class="content">
          <div>
            <label for="id_category_name">Category name:</label>
            <input type="text" name="category_name" maxlength="255" required id="id_category_name" value="{{form.instance.category_name}}">      
          </div>  
          <div>      
            <label for="id_category_description">Category description:</label>
            <input type="text" name="category_description" maxlength="255" required id="id_category_description" value="{{form.instance.category_description}}">
          </div>  
        </div>
        <div class="content" style="display: flex; align-items: center; justify-content: center;"> 
          <div>
            <label for="id_cat_image">Cat image:</label>
            {{form.cat_image}}
            <!--<input id="imageInput" type="file" name="cat_image" accept="image/*" required id="id_cat_image"> -->
          </div>
          <div>
            {% if form.instance.cat_image %}
            <img src="{{STATIC_URL}}{{form.instance.cat_image.url}}" id="previewImage" alt="Preview Image" style="width: 200px; height: 200px;">
            {% else %}
            <img id="previewImage" alt="Preview Image" style="width: 200px; height: 200px; border: 1px solid wheat;">
            {% endif %}
          </div>
        <script>
            const imageInput = document.getElementById('imageInput');
            const previewImage = document.getElementById('previewImage');
            function previewSelectedImage() {
              const file = imageInput.files[0];
              if (file) {
                  const reader = new FileReader();
                  reader.readAsDataURL(file);
                  reader.onload = function(e) {
                    previewImage.src = e.target.result;
                  }
              }
            }
            imageInput.addEventListener('change', previewSelectedImage);
        </script>
        </div>
        <div class="content">  
          {% if form.instance.pk %}
            <button style="background-color: rgba(243, 15, 156, 0.507);" type="submit" class="btn add-item-btn">Update Category</button>
          {% else %}
            <button type="submit" class="btn add-item-btn">Add Category</button>
          {% endif %}
        </div> 
      </form>

    </div>
  </div>
</div>
{% endblock %}