{% extends "business_apps/master.html" %}

{% block title %}
  SLT | Add Category
{% endblock %}

{% block header %}
  Category {{ cat.category_name}}
{% endblock %}
{% block content %}

<div class="main-content">
  <div class="add-container">
    <div class="content">
      <h1> {{ cat.category_name}} </h1>
      <h3> {{ cat.category_description}} </h3>
    </div>
    <div class="content">
      <img src="{{ cat.cat_image.url }}" style="height: 100px;">
    </div>
    <div class="content">
      <a href="{% url 'slt:category' %}">Backt ot List</a>
    </div>
  </div>
</div>
{% endblock %}