{% extends "business_apps/master.html" %}

{% block title %}
  SLT | Add Clients
{% endblock %}

{% block header %}
  Add Clients
{% endblock %}

{% block breadcrumbs %}
{% url 'slt:business' as url %}
{% url 'slt:clients' as urls %}
<div style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ul style="display: flex; flex-wrap: wrap; margin-bottom: 0; padding-left: 0;">
    <li class="breadcrumb-item"><a href="{{url}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{urls}}">Clients</a></li>
    <li class="breadcrumb-item active" aria-current="page"> New Clients</li>
  </ul>
</div>
{% endblock %}
{% block content %}

<div class="main-content">
  <div class="add-container">
    <div class="content">
      <div class="form-header">
        <div>
          <h3>
            {% if form.instance.pk %}
              <span style="background-color: rgba(255, 17, 0, 0.822);">Edit Clients : {{ form.instance.clients_name }}</span>
            {% else %}
            <span>Add Clients</span>
            {% endif %}
          </h3>
  
        </div>
        <div>        
          <a href="{% url 'slt:clients' %}">Backt ot List</a>
        </div>
  
      </div>
      {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
      {% endif %}
    <form class="form-container" method="POST" enctype="multipart/form-data">
  
      <!-- Security token -->
      {% csrf_token %}      
      <div class="content">
        <div class="form-row field-client_name">
          <div>
            <div class="flex-container">
              <label class="required" for="id_client_name">Client name:</label>
              <input type="text" name="client_name" class="vTextField" maxlength="255" required id="id_client_name" value="{{form.instance.client_name}}">
            </div>
          </div>
        </div>
        <div class="form-row field-client_org">
          <div>
            <div class="flex-container">
              <label class="required" for="id_client_org">Client org:</label>
              <input type="text" name="client_org" class="vTextField" maxlength="255" required id="id_client_org" value="{{form.instance.client_org}}">
            </div>
          </div>
        </div>
        <div class="form-row field-client_desig">
          <div>
            <div class="flex-container">
              <label class="required" for="id_client_desig">Client desig:</label>
              <input type="text" name="client_desig" class="vTextField" maxlength="255" required id="id_client_desig" value="{{form.instance.client_desig}}">
            </div>
          </div>
        </div>
        <div class="form-row field-client_mobile">
          <div>
            <div class="flex-container">
              <label class="required" for="id_client_mobile">Client mobile:</label>
              <input type="text" name="client_mobile" class="vTextField" maxlength="255" required id="id_client_mobile" value="{{form.instance.client_mobile}}">
            </div>
          </div>
        </div>
        <div class="form-row field-client_address">
          <div>
            <div class="flex-container">
              <label class="required" for="id_client_address">Client address:</label>
              <input type="text" name="client_address" class="vTextField" maxlength="255" required id="id_client_address" value="{{form.instance.client_address}}">
            </div>
          </div>
        </div>
      </div>
      <div class="content">  
        {% if form.instance.pk %}
          <button style="background-color: rgba(243, 15, 156, 0.507);" type="submit" class="btn add-item-btn">Update Clients</button>
        {% else %}
          <button type="submit" class="btn add-item-btn">Add Clients</button>
        {% endif %}
      </div> 
    </form>
    </div>
  </div>
</div>
{% endblock %}