{% extends "business_apps/master.html" %}

{% block title %}
  SLT | Clients List
{% endblock %}

{% block header %}
Clients List
{% endblock %}

{% block breadcrumbs %}
{% url 'slt:business' as url %}
{% url 'slt:supplier' as urls %}
<div style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ul style="display: flex; flex-wrap: wrap; margin-bottom: 0; padding-left: 0;">
    <li class="breadcrumb-item"><a href="{{url}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{urls}}">Clients</a></li>
    <li class="breadcrumb-item active" aria-current="page"> New/Edit Clients</li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="main-content">
  <div class="content">      
    <div class="form-header" style="display: flex;">      
      <div>        
        <span style="font-size: 1.3rem; font-weight: bolder;">Clients List</span>
      </div>
      <div>        
        <a href="{% url 'slt:clients_new' %}">New Clients</a>
      </div>
    </div>   
        
    <table>
        <tr>
          <th scope="col">Clients Name</th>
          <th scope="col">Clients Org</th>
          <th scope="col">Clients Designation</th>
          <th scope="col">Clients Address</th>
          <th scope="col">Clients Mobile</th>
          <th scope="col">Action</th>
        </tr>
        {% for data in client %}
        <tr>
          
          <td>{{ data.client_name }}</td>
          <td>{{ data.client_org }}</td>
          <td>{{ data.client_desig }}</td>
          <td>{{ data.client_address }}</td>
          <td>{{ data.client_mobile }}</td>
          <td>
            <a href="{% url 'slt:clients_update' data.pk %}">Edit</a>
            <a href="">Delete</a>
          </td>
        </tr>
        {% endfor %}
    </table>
    <hr/>


  </div>
</div>

{% endblock %}