{% extends "business_apps/master.html" %}

{% block title %}
  SLT | Clients List
{% endblock %}

{% block header %}
Clients List
{% endblock %}
{% block content %}
<div class="main-content">
  <div class="content">      
    <div class="form-header" style="display: flex;">      
      <div>        
        <h3>Clients List</h3>
      </div>
      <div>        
        <a href="{% url 'slt:clients_new' %}">New Clients</a>
      </div>
    </div>   
        
    <table>
        <tr>
          <th scope="col">Clients Name</th>
          <th scope="col">Clients Org</th>
          <th scope="col">Clients Designation</th>
          <th scope="col">Clients Address</th>
          <th scope="col">Clients Mobile</th>
          <th scope="col">Action</th>
        </tr>
        {% for data in client %}
        <tr>
          
          <td>{{ data.client_name }}</td>
          <td>{{ data.client_org }}</td>
          <td>{{ data.client_desig }}</td>
          <td>{{ data.client_address }}</td>
          <td>{{ data.client_mobile }}</td>
          <td>
            <a href="{% url 'slt:clients_update' data.pk %}">Edit</a>
            <a href="">Delete</a>
          </td>
        </tr>
        {% endfor %}
    </table>
    <hr/>


  </div>
</div>

{% endblock %}