{% extends "business_apps/master.html" %}

{% block title %}
  SLT | Dashboard
{% endblock %}

{% block header %}
Dashboard
{% endblock %}


{% block content %}
{% if messages %}
<div class="alert alert-primary" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}

<div class="main-content">
    <div class="content" style="background-color: #1a2ae399;display: flex;
    flex-direction: column; gap: .5rem; text-align: center;border-left: 10px solid blue;
    border-bottom: 10px solid blue;">     
        <div style="flex: 50%;">
            <h3 style="color: wheat;background-color: blue;padding: .5rem; border: 1px solid wheat;">Sales Todays</h3>
        </div>         
        <div style="flex: 50%;">
            <h3>987654321</h3>        
        </div> 
    </div>
    <div class="content" style="background-color: #9f0d9fab;display: flex;
    flex-direction: column; gap: .5rem; text-align: center;border-left: 10px solid blue;
    border-bottom: 10px solid blue;">      
        <div style="flex: 50%;">
            <h3 style="color: wheat;background-color: #ff00cbb5;padding: .5rem; border: 1px solid wheat;">Service Todays</h3>
        </div>              
        <div style="flex: 50%;">
            <h3>987654321</h3>
        </div>
    </div>
    <div class="content" style="background-color: #1a2ae399; display: flex;
    flex-direction: column; gap: .5rem; text-align: center;border-left: 10px solid blue;
    border-bottom: 10px solid blue;">               
        <div style="flex: 50%;">
            <h3 style="color: wheat;background-color: blue;padding: .5rem; border: 1px solid wheat;">Project Todays</h3>
        </div>             
        <div style="flex: 50%;">
            <h3>555</h3>
        </div>
    </div>
    <div class="content" style="background-color: #9f0d9fab;display: flex;
    flex-direction: column; gap: .5rem; text-align: center;border-left: 10px solid blue;
    border-bottom: 10px solid blue;">               
        <div style="flex: 50%;">
            <h3 style="color: wheat;background-color: #ff00cbb5;padding: .5rem; border: 1px solid wheat;"">Due Todays</h3>
        </div>          
        <div style="flex: 50%;">
            <h3>987654321</h3>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="content">                
        <h2>Sales List</h2>
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
    
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
        
    </div>
    <div class="content">                
        <h2>Service List</h2>
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
    
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
        
    </div>
</div>

<div class="main-content content" style="background-color: #9f0d9fab;display: flex;
flex-direction: column; gap: .5rem; text-align: center;border-left: 10px solid blue;
border-bottom: 10px solid blue;">             
    <h2>Setting the Viewport</h2>
    <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>

    <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
    
</div>
{% endblock %}