{% extends "business_apps/master.html" %}

{% block title %}
  SLT | Dashboard
{% endblock %}

{% block header %}
Dashboard
{% endblock %}

{% block breadcrumbs %}
{% url 'slt:business' as url %}
<div style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ul style="display: flex; flex-wrap: wrap; margin-bottom: 0; padding-left: 0;">
    <li class="breadcrumb-item"><a href="{{url}}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Dashboard</li>
  </ul>
</div>
{% endblock %}
    

{% block content %}
{% if messages %}
<div class="alert alert-primary" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}

<div class="main-content">
    <div class="content" style="background-color: #1a2ae399;display: flex;
    flex-direction: column; gap: .5rem; text-align: center;border-left: 10px solid blue;
    border-bottom: 10px solid blue;">     
        <div style="flex: 50%;">
            <h3 style="color: wheat;background-color: blue;padding: .5rem; border: 1px solid wheat;">Sales Todays</h3>
        </div>         
        <div style="flex: 50%;">
            <h3>{{count}}</h3>        
        </div> 
    </div>
    <div class="content" style="background-color: #9f0d9fab;display: flex;
    flex-direction: column; gap: .5rem; text-align: center;border-left: 10px solid blue;
    border-bottom: 10px solid blue;">      
        <div style="flex: 50%;">
            <h3 style="color: wheat;background-color: #ff00cbb5;padding: .5rem; border: 1px solid wheat;">Service Todays</h3>
        </div>              
        <div style="flex: 50%;">
            <h3>987654321</h3>
        </div>
    </div>
    <div class="content" style="background-color: #1a2ae399; display: flex;
    flex-direction: column; gap: .5rem; text-align: center;border-left: 10px solid blue;
    border-bottom: 10px solid blue;">               
        <div style="flex: 50%;">
            <h3 style="color: wheat;background-color: blue;padding: .5rem; border: 1px solid wheat;">Project Todays</h3>
        </div>             
        <div style="flex: 50%;">
            <h3>555</h3>
        </div>
    </div>
    <div class="content" style="background-color: #9f0d9fab;display: flex;
    flex-direction: column; gap: .5rem; text-align: center;border-left: 10px solid blue;
    border-bottom: 10px solid blue;">               
        <div style="flex: 50%;">
            <h3 style="color: wheat;background-color: #ff00cbb5;padding: .5rem; border: 1px solid wheat;"">Due Todays</h3>
        </div>          
        <div style="flex: 50%;">
            <h3>987654321</h3>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="content">                
        <h2>Sales List</h2>
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
    
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
        
    </div>
    <div class="content">                
        <h2>Service List</h2>
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
    
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
        
    </div>
</div>

<div class="main-content content" style="background-color: #9f0d9fab;display: flex;
flex-direction: column; gap: .5rem; text-align: center;border-left: 10px solid blue;
border-bottom: 10px solid blue;">             
    <h2>Setting the Viewport</h2>
    <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>

    <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
    
</div>
{% endblock %}