{% extends "business_apps/master.html" %}

{% block title %}
  SST | Product Details
{% endblock %}

{% block header %}
  {{ prod.item_name}}
{% endblock %}
{% block content %}

<div class="main-content">
  <div class="add-container">
    <div class="content" style="justify-content: center;">
      <div class="content">
        <span style="font-size: 1.3rem; font-weight: bolder;"> {{ prod.item_name}} </span>
        <p> {{ prod.category_name}} </p>
        <p style="font-size: 1.3rem; font-weight: bolder;"> {{ prod.brand_name}} </p>
        <img src="{{ prod.item_image.url }}" style="height: 200px; width: 100%;">
      </div>
      <div class="content">
        <p style="font-size: 1.3rem; font-weight: bolder;"> {{ prod.item_model}} </p>
        <p> {{ prod.item_sprice}} </p>
      </div>
      <div class="content">
        <a href="{% url 'slt:product' %}">Backt ot List</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}