{% extends "business_apps/master.html" %}

{% block title %}
  SLT | Product
{% endblock %}

{% block header %}
  Product
{% endblock %}

{% block content %}
<div class="main-content">
  <div class="content">    
    <div class="form-header" style="display: flex; background-color: blueviolet;">      
      <div>
        <h3>Product List</h3>
      </div>
      <div>        
        <a href="{% url 'slt:product_add' %}">New Product</a>
      </div>
    </div>   
        
    <table>
        <tr>
          <th scope="col">Product Image</th>
          <th scope="col">Product Name</th>
          <th scope="col">Product Category</th>
          <th scope="col">Product Brand</th>
          <th scope="col">Product Model</th>
          <th scope="col">Product description</th>
          <th scope="col">Product Price</th>
          <th scope="col">Action</th>
        </tr>
        {% for data in prod %}
        <tr>       
          <td>
            <a href="{% url 'slt:product_details' data.pk %}">
              {% if data.item_image %}
                <img src="{{data.item_image.url}}" style="width:100px; height:auto;">
              {% endif %}
            </a>
          </td>
          <td>{{ data.item_name }}</td>
          <td>{{ data.category_name }}</td>
          <td>{{ data.brand_name }}</td>
          <td>{{ data.item_model }}</td>
          <td>{{ data.item_description }}</td>
          <td>{{ data.item_sprice }}</td>
          <td>
            <a href="{% url 'slt:product_update' data.pk %}">Edit</a>
            <a href="">Delete</a>
          </td>
        </tr>
        {% endfor %}
    </table>
    <hr/>


  </div>
</div>

{% endblock %}