{% extends "business_apps/master.html" %}

{% block title %}
  SLT | Purchase List
{% endblock %}

{% block header %}
Purchase List
{% endblock %}

{% block breadcrumbs %}
{% url 'slt:business' as url %}
{% url 'slt:purchase' as urls %}
<div style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ul style="display: flex; flex-wrap: wrap; margin-bottom: 0; padding-left: 0;">
    <li class="breadcrumb-item"><a href="{{url}}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Purchase</li>
  </ul>
</div>
{% endblock %}
    
{% block content %}
<div class="main-content">
  <div class="content">    
    <div class="form-header" style="display: flex;">      
      <div>
        <span style="font-size: 1.3rem; font-weight: bolder;">Today's Purchase Order</span>
      </div>
      <div>        
        <a href="{% url 'slt:purchase_new' %}">New Purchase</a>
        <a href="{% url 'slt:purchase_order' %}">New Order</a>
      </div>
    </div>   
        
    <table>
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Product Category</th>
          <th scope="col">Product Brand</th>
          <th scope="col">Product Model</th>
          <th scope="col">Product description</th>
          <th scope="col">Product Price</th>
          <th scope="col">Action</th>
        </tr>
        {% for data in porder %}
        <tr>       
          <td>{{ data.supplier_id }}</td>
          <td>{{ data.porder_total }}</td>
          <td>{{ data.porder_discount }}</td>
          <td>{{ data.porder_note }}</td>
          <td>{{ data.porder_create_time }}</td>
          <td>{{ data.porder_create_by }}</td>
          <td>
            <a href="{% url 'slt:purchase_update' data.pk %}">Edit</a>
            <a href="">Delete</a>
          </td>
        </tr>
        {% endfor %}
    </table>
    <hr/>


  </div>
  
</div>

<div class="main-content">
  <div class="content">    
    <div class="form-header" style="display: flex;">      
      <div>
        <h3>Purchase Order Due</h3>
      </div>
      <div>        
        <a href="{% url 'slt:purchase_new' %}">Purchase Order Due Payment</a>
      </div>
    </div>   
        {% for data in produtcs %}
          {{data}}
        {% endfor %}
    <hr/>


  </div>
  
  <div class="content">    
    <div class="form-header" style="display: flex;">      
      <div>
        <h3>Purchase Order Return</h3>
      </div>
      <div>        
        <a href="{% url 'slt:purchase_new' %}">Purchase Order Return</a>
      </div>
    </div>   
        
    <table>
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Product Category</th>
          <th scope="col">Product Brand</th>
          <th scope="col">Product Model</th>
          <th scope="col">Product description</th>
          <th scope="col">Product Price</th>
          <th scope="col">Action</th>
        </tr>
        {% for data in prod %}
        <tr>       
          <td>
            <a href="{% url 'slt:product_details' data.pk %}">
              {% if data.item_image %}
                <img src="{{data.item_image.url}}" style="width:100px; height:auto;">
              {% endif %}
            </a>
          </td>
          <td>{{ data.item_name }}</td>
          <td>{{ data.category_name }}</td>
          <td>{{ data.brand_name }}</td>
          <td>{{ data.item_model }}</td>
          <td>{{ data.item_description }}</td>
          <td>{{ data.item_sprice }}</td>
          <td>
            <a href="{% url 'slt:purchase_update' data.pk %}">Edit</a>
            <a href="">Delete</a>
          </td>
        </tr>
        {% endfor %}
    </table>
    <hr/>


  </div>
</div>
{% endblock %}