{% extends "business_apps/master.html" %}
{% load i18n %}

{% block title %}
  SLT | New Purchase
{% endblock %}

{% block header %}
  New Purchase
{% endblock %}

{% block breadcrumbs %}
{% url 'slt:business' as url %}
{% url 'slt:purchase' as urls %}
<div style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ul style="display: flex; flex-wrap: wrap; margin-bottom: 0; padding-left: 0;">
    <li class="breadcrumb-item"><a href="{{url}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{urls}}">Purchase</a></li>
    <li class="breadcrumb-item active" aria-current="page">New Purchase</li>
  </ul>
</div>
{% endblock %}

    
{% block content %}
<div class="main-content">
  <div class="add-container" style="max-width: 960px;">
    <div class="content">
      <div class="form-header">
        <div>
            {% if form.instance.pk %}
              <span style="font-size: 1.3rem; font-weight: bolder; background-color: rgba(255, 17, 0, 0.822);">Edit Purchase : {{ form.instance.item_name}}</span>
            {% else %}
            <span style="font-size: 1.3rem; font-weight: bolder;">New Purchase</span>
            {% endif %}
        </div>
        <div>        
          <a href="{% url 'slt:purchase' %}">Purchase List</a>
        </div>

      </div>
      <form class="form-container" enctype="multipart/form-data" method="post">
        <!-- Security token -->
        {% csrf_token %}
        <div class="content flex-column" style="display: flex; align-items: center; justify-content: center; gap: .5rem;">      
          <div class="d-flex w-100 gap-3" >
            <div style="flex: 3;">
              <label for="supplier_id">Supplier:</label>
              <div style="display: flex; gap: .5rem;">
                {{ form.supplier_id }}
                {% for Supplier in form.fields.Supplier.queryset %} 
                <option  value="{{ Supplier.id }}" {% if Supplier.id == form.Supplier.value %}selected{% endif %}> {{ Supplier.supplier_name }} </option> 
                {% endfor %}
                {% url 'slt:add_supplier_new' as url %}
                <a href="{{url}}">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">+</button>                
                </a>
                
              </div>
            </div>
            <div style="flex: 1;">
              <label for="id_brand_name">O Type:</label>
              {{ form.porder_status }}
              {% for PurchaseOrder in form.fields.PurchaseOrder.queryset %} 
              <option value="{{ PurchaseOrder.id }}" {% if PurchaseOrder.id == form.PurchaseOrder.value %}selected{% endif %}> {{ PurchaseOrder.porder_status }} </option> 
              {% endfor %}
            </div>

          </div>
            
          <div class="d-flex w-100 gap-3" > 
            <div> 
              <label for="id_item_name">Supplier Address:</label>
              <input type="text" name="supplier_name" maxlength="255" required id="id_supplier_name" value="{{ Supplier.supplier_name }}">     
            </div>
            <div>
              <label for="id_item_model">Supplier Mobile:</label>
              <input type="text" name="item_model" maxlength="255" required id="id_item_model" value="{{ form.instance.item_model }}">    
            </div>
            <div>
              <label for="id_item_description">POrder Date:</label>
              <input type="datetime-local" name="item_description" maxlength="255" required id="id_item_description" value="{{ form.instance.item_description }}">    
            </div>
          </div>
        </div>     
        <div class="content d-flex" style="text-align: center; flex-flow: column-reverse;;">          
          <div>
            <input type="text" placeholder="Search Product/Serial/Barcode" value="{{ form.instance.created_at }}">
          </div> 
          <div class="content" style="display: flex;align-items: center;gap: 1rem;justify-content: space-evenly;"> 
            <div class="d-flex" style="gap: 2rem;">
              <div>
                <label for="id_item_sprice">Expired:</label>
                <input type="text" name="item_sprice"required id="id_item_sprice" value="{{ form.instance.item_sprice }}">    
              </div>
              <div>
                <label for="id_item_pprice">S Price</label>
                <input type="text" name="item_pprice" required id="id_item_pprice" value="{{ form.instance.item_pprice }}">    
              </div>
              <div>
                <label for="id_item_sprice">Unit:</label>
                <input type="text" name="item_sprice"required id="id_item_sprice" value="{{ form.instance.item_sprice }}">    
              </div>
              <div>
                <label for="id_item_pprice">Price</label>
                <input type="text" name="item_pprice" required id="id_item_pprice" value="{{ form.instance.item_pprice }}">    
              </div>
              <div>
                <label for="id_item_sprice">Qty</label>
                <input type="number" name="item_sprice" min="1" required id="id_item_sprice" value="{{ form.instance.item_sprice }}">    
              </div>
            </div>
            
            <div>
              <input type="submit">
            </div>
          </div>       
        </div>
        <div class="content">
          <span style="font-size: 1.3rem; font-weight: bolder;">Product Item</span>
          <table id="purchaseOrderTable">
              <thead>
                  <tr>
                      <th>Product Code</th>
                      <th>Product Name</th>
                      <th>Quantity</th>
                      <th>Unit Price</th>
                      <th>Total Price</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>SKU123</td>
                      <td>T-Shirt, Blue</td>
                      <td>10</td>
                      <td>$15.00</td>
                      <td>$150.00</td>
                  </tr>
                  <tr>
                      <td>SKU456</td>
                      <td>Jeans, Denim</td>
                      <td>8</td>
                      <td>$30.00</td>
                      <td>$150.00</td>
                  </tr>
                  <!-- Add more product rows here -->
              </tbody>
          </table>
        </div>
        <div class="submit-row">
          <input type="submit">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Be sure to put the links in the right position to avoid dependency issue.-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $('select').selectize({
            sortField: 'text'
        });        
        $('.selectize-control').addClass("w-100")
    });

  // to clear the selected value.
   $('form').find('.selectized').each(function(index, element) { element.selectize && element.selectize.clear() })

 </script>

{% endblock %}