{% extends "business_apps/master.html" %}
{% load i18n %}

{% block title %}
  SLT | New Purchase
{% endblock %}

{% block header %}
  New Purchase
{% endblock %}

{% block breadcrumbs %}
{% url 'slt:business' as url %}
{% url 'slt:purchase' as urls %}
<div style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ul style="display: flex; flex-wrap: wrap; margin-bottom: 0; padding-left: 0;">
    <li class="breadcrumb-item"><a href="{{url}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{urls}}">Purchase</a></li>
    <li class="breadcrumb-item active" aria-current="page">New Purchase</li>
  </ul>
</div>
{% endblock %}

    
{% block content %}
<div class="main-content">
  <div class="add-container" style="max-width: 960px;">
    <div class="content">
      <div class="form-header">
        <div>
            {% if form.instance.pk %}
              <span style="font-size: 1.3rem; font-weight: bolder; background-color: rgba(255, 17, 0, 0.822);">Edit Purchase : {{ form.instance.item_name}}</span>
            {% else %}
            <span style="font-size: 1.3rem; font-weight: bolder;">New Purchase</span>
            {% endif %}
        </div>
        <div>        
          <a href="{% url 'slt:purchase' %}">Purchase List</a>
        </div>

      </div>
      <form class="form-container" enctype="multipart/form-data" method="post">
        <!-- Security token -->
        {% csrf_token %}
        <div class="content flex-column" style="display: flex; align-items: center; justify-content: center; gap: .5rem;">      
          <div class="d-flex w-100 gap-3" >
            <div style="flex: 3;">
              <label for="supplier_id">Supplier:</label>
              <div style="display: flex; gap: .5rem;">
                {{ form.supplier_id }}
               <!--{% for Supplier in form.fields.Supplier.queryset %} 
                <option  value="{{ Supplier.id }}" {% if Supplier.id == form.Supplier.value %}selected{% endif %}> {{ Supplier.supplier_name }} </option> 
                {% endfor %}--> 
                {% url 'slt:add_supplier_new' as url %}
                <a href="{{url}}">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">+</button>                
                </a>
                
              </div>
            </div>
            <div style="flex: 1;">
              <label for="id_brand_name">O Type:</label>
              {{ form.porder_status }}
              {% for PurchaseOrder in form.fields.PurchaseOrder.queryset %} 
              <option value="{{ PurchaseOrder.id }}" {% if PurchaseOrder.id == form.PurchaseOrder.value %}selected{% endif %}> {{ PurchaseOrder.porder_status }} </option> 
              {% endfor %}
            </div>
          </div>            
          <div class="d-flex w-100 gap-3" > 
            <div> 
              <label for="supplier_address">Supplier Address:</label>
              <input type="text" name="supplier_address" maxlength="255" required id="supplier_address">     
            </div>
            <div>
              <label for="supplier_mobile">Supplier Mobile:</label>
              <input type="text" name="supplier_mobile" maxlength="255" required id="supplier_mobile">    
            </div>
            <div>
              <label for="id_item_description">POrder Date:</label>
              <input type="datetime-local" name="item_description" maxlength="255" required id="id_item_description" value="{{ form.instance.item_description }}">    
            </div>
          </div>
        </div>     
        <div class="content d-flex" style="gap: 1.3rem;text-align: center; flex-flow: column-reverse;;">          
          <div style="width: 50%; margin: 0 auto;">
            <select name="mySelect" id="mySelect">
              <option value="" hidden>Select your option</option>
              {% for item in products %}
              <option value="{{ item.id }}">{{ item.item_name }}</option>
              {% endfor %}
            </select>                
          </div>                
          <div class="content" style="display: flex;align-items: center;gap: 1rem;justify-content: space-evenly;"> 
            <div class="d-flex" style="gap: 2rem;">
              <div>
                <label for="id_item_expi">Expired:</label>
                <input type="text" name="item_expi"required id="id_item_expi" value="{{ form.instance.item_sprice }}">    
              </div>
              <div>
                <label for="id_item_sprice">S Price</label>
                <input type="text" name="item_sprice" required id="id_item_sprice" value="{{ form.instance.item_pprice }}">    
              </div>
              <div>
                <label for="id_item_unit">Unit:</label>
                <input type="text" name="item_unit"required id="id_item_unit" value="{{ form.instance.item_sprice }}">    
              </div>
              <div>
                <label for="id_item_pprice">Price</label>
                <input type="text" name="item_pprice" required id="id_item_pprice" value="{{ form.instance.item_pprice }}">    
              </div>
              <div>
                <label for="id_item_qty">Qty</label>
                <input type="number" name="item_qty" min="1" required id="id_item_qty">    
              </div>
            </div>
            
            <div>
              <input type="button" class="sub_btn" onclick="addItemToCart()" value="Add Item">
            </div>
          </div>       
        </div>
        <div class="content">
          <span style="font-size: 1.3rem; font-weight: bolder;">Product Item</span>
          <span id="rowCount" style="font-size: 1.3rem; font-weight: bolder;">0</span>
          <table id="purchaseOrderTable">
              <thead style="background-color: aquamarine;">
                <th style="width: 10%;">Item Code</th>
                <th style="width: 50%;">Item Name</th>
                <th>Unit</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Total</th>
                <th>Action</th>
              </thead>
              <tbody style="background-color: rgb(181, 184, 183);">
                  <!-- Add more product rows here -->
              </tbody>
          </table>
        </div>        
        <div class="content d-flex"> 
          <div style="flex: 1;align-items: center;">
            <div>
              <span >Notes:</span>
              <textarea class="p-2" id="w3review" name="w3review" rows="3" cols="50" placeholder="Write your Purchase note here..."></textarea>          
            </div>
            <div class="d-flex" style="align-items: center;" >
              <div style="flex: 50%; text-align: end; flex: 50%; padding-right: 1rem;"><label for="id_item_sprice">Discount (%):</label></div>
              <div style="flex: 50%; text-align: end; flex: 50%; padding-right: 1rem;"><input type="text" name="item_sprice"required id="id_item_sprice" value="{{ form.instance.item_sprice }}"></div>              
            </div>
            <div class="d-flex" style="align-items: center;" >
              <div style="flex: 50%; text-align: end; flex: 50%; padding-right: 1rem;"><label for="id_item_sprice">Pay Type:</label></div>
              <div style="flex: 50%; text-align: center; flex: 50%; padding-right: 1rem;">
                <select name="" id="">
                  <option value="1">Cash</option>
                  <option value="2">Card</option>
                  <option value="3">Others</option>
                </select>
              </div>              
            </div>
          </div>
          <div class="d-flex flex-column">
            <div class="d-flex" style="align-items: center;" >
              <div style="flex: 50%; text-align: end; flex: 50%; padding-right: 1rem;"><label for="id_item_tprice">Item Total:</label></div>
              <div style="flex: 50%; text-align: end; flex: 50%; padding-right: 1rem;"><input type="text" name="item_sprice"required id="id_item_tprice" value="{{ form.instance.item_sprice }}"></div>              
            </div>
            <div class="d-flex" style="align-items: center;" >
              <div style="flex: 50%; text-align: end; flex: 50%; padding-right: 1rem;"><label for="id_item_sprice">Discount (Amt):</label></div>
              <div style="flex: 50%; text-align: end; flex: 50%; padding-right: 1rem;"><input type="text" name="item_sprice"required id="id_item_sprice" value="{{ form.instance.item_sprice }}"></div>              
            </div>
            <div class="d-flex" style="align-items: center;" >
              <div style="flex: 50%; text-align: end; flex: 50%; padding-right: 1rem;"><label for="id_item_sprice">Discount (%):</label></div>
              <div style="flex: 50%; text-align: end; flex: 50%; padding-right: 1rem;"><input type="text" name="item_sprice"required id="id_item_sprice" value="{{ form.instance.item_sprice }}"></div>              
            </div>
            <div class="d-flex" style="align-items: center;" >
              <div style="flex: 50%; text-align: end; flex: 50%; padding-right: 1rem;"><label for="id_item_sprice">Payable Total:</label></div>
              <div style="flex: 50%; text-align: end; flex: 50%; padding-right: 1rem;"><input type="text" name="item_sprice"required id="id_item_sprice" value="{{ form.instance.item_sprice }}"></div>              
            </div>
            <div class="d-flex" style="align-items: center;" >
              <div style="flex: 50%; text-align: end; flex: 50%; padding-right: 1rem;"><label for="id_item_sprice">Payment:</label></div>
              <div style="flex: 50%; text-align: end; flex: 50%; padding-right: 1rem;"><input type="text" name="item_sprice"required id="id_item_sprice" value="{{ form.instance.item_sprice }}"></div>              
            </div>
            <div class="d-flex" style="align-items: center;" >
              <div style="flex: 50%; text-align: end; flex: 50%; padding-right: 1rem;"><label for="id_item_sprice">Due Amount:</label></div>
              <div style="flex: 50%; text-align: end; flex: 50%; padding-right: 1rem;"><input type="text" name="item_sprice"required id="id_item_sprice" value="{{ form.instance.item_sprice }}"></div>              
            </div>
          </div>
        </div> 
        <div class="submit-row">
          <input type="submit">
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Supplier Select Options Searchable-->
<script>
    $(document).ready(function () {
        $('select').selectize({
            sortField: 'text'
        });        
        $('.selectize-control').addClass("w-100")
    });

  // to clear the selected value.
   $('form').find('.selectized').each(function(index, element) { element.selectize && element.selectize.clear() })

</script>
<!--Supplier Search and Add -->
<script>
  function fetchData(pk) {
    console.log("FETCH DATA"+pk);
            //const pk = document.getElementById('data-id').value;
            fetch(`./supplier/${pk}`)
                .then(response => response.json())
                .then(data => {
                  console.log(data);
                    document.getElementById('supplier_address').value = data.address;  // Adjust field name as needed                    
                    document.getElementById('supplier_mobile').value = data.mobile; 
                  })
                .catch(error => console.error('Error fetching data:', error));
        }
</script>
<script>
  var e = document.getElementById("id_supplier_id");
    function onChange() {
      var value = e.value;
      var text = e.options[e.selectedIndex].text;
      console.log(value, text);
        $("#item-id").val(value);
        $("#item-description").val(text);
        if (/^[0-9]+$/.test(value)) {
            console.log('Input is a number.');
            fetchData(value)
        } else if (/^[a-zA-Z]+$/.test(value)) {
          fetchData(value)
            console.log('Input is a letter.');
        } else {
            console.log('Input ID is neither a pure number nor a pure letter.');
        }
    }
    e.onchange = onChange;
    onChange();
</script>
<!--Item Name Search Filed -->
<script> 
document.getElementById('mySelect').onchange = function(){
      var value = this.value;
      var text = this.options[e.selectedIndex].text;
      console.log(value, text);
      if (/^[0-9]+$/.test(value)) {
            console.log('Input is a number.');
            fetchProductData(value)
        } else if (/^[a-zA-Z]+$/.test(value)) {
          fetchProductData(value)
            console.log('Input is a letter.');
        } else {
            console.log('Input ID is neither a pure number nor a pure letter.');
        }
  };
</script> 
<script>
  function fetchProductData(pk) {
    $.ajax({
      url: './product_search/' + pk ,
      method: 'GET',
      success: function(response) {
        document.getElementById('id_item_expi').value = response.category_name.category_name;
        document.getElementById('id_item_sprice').value = response.item_sprice;
        document.getElementById('id_item_unit').value = response.itme_unit.unit_name;
        document.getElementById('id_item_pprice').value = response.item_pprice;
        document.getElementById('id_item_qty').value = 1;
      }
    });
  } 
</script>
<!--Cart Item add Table row -->
<script>
  function addItemToCart() {
    // Get input values
      var item = document.getElementById("mySelect");
      var item_code = item.value;
      var item_name = item.options[item.selectedIndex].text;
      var item_unit = document.getElementById('id_item_unit').value;
      var item_qty = document.getElementById('id_item_qty').value;
      var item_price = document.getElementById('id_item_pprice').value;

    // Calculate Qty * Price values
      var price = parseFloat(item_price);
      var quantity = parseInt(item_qty);
      var item_total = 0;
      item_total += price * quantity;
    
    // Validate input
    if (item_code === '' || item_qty === '' || item_price === '') {
        alert('Please fill in all fields');
        return;
    }
    // Check if item already exists in the cart
    var table = document.getElementById('purchaseOrderTable').getElementsByTagName('tbody')[0];
      var itemExists = false;
      for (var i = 0, row; row = table.rows[i]; i++) {
        if (row.cells[0].innerHTML === item_code) {
          //row.cells[1].innerHTML = parseInt(row.cells[1].innerHTML) + parseInt(itemQuantity);
          itemExists = true;
          alert('Item '+ item_code + 'Already Exists.');
          break;
        }
      }
    // If item does not exist, create a new row
    if (!itemExists) {
    // Create a new row for the table
    var table = document.getElementById('purchaseOrderTable').getElementsByTagName('tbody')[0];
    var newRow = table.insertRow(table.rows.length);

    // Insert cells for the row
    var cell1 = newRow.insertCell(0);
    var cell2 = newRow.insertCell(1);
    var cell3 = newRow.insertCell(2);
    var cell4 = newRow.insertCell(3);
    var cell5 = newRow.insertCell(4);
    var cell6 = newRow.insertCell(5);
    var cell7 = newRow.insertCell(6);

    // Add values to the cells
    cell1.innerHTML = item_code;
    cell2.innerHTML = item_name;
    cell3.innerHTML = item_unit;
    cell4.innerHTML = item_price;
    cell5.innerHTML = item_qty;
    cell6.innerHTML = item_total.toFixed(2);
    cell7.innerHTML = '<button style="width: 50%; color: red;" onclick="removeRow(this)">X</button>';

    }
    // Clear the input fields    
    var selectize = $('#mySelect')[0].selectize;
    selectize.clear();
    document.getElementById('id_item_expi').value='';
    document.getElementById('id_item_sprice').value='';
    document.getElementById('id_item_unit').value='';
    document.getElementById('id_item_qty').value='';
    document.getElementById('id_item_pprice').value='';

      // Calculate data field.......... Reloads  
    document.getElementById('id_item_tprice').value = calculateSum();
    document.getElementById("rowCount").innerText = countRows();
}
</script>
<!--Table row Sum -->
<script>  
  function countRows() {
    rowCount = 0;
    var table = document.getElementById("purchaseOrderTable");
    rowCount = table.rows.length - 1; // Exclude the header row
    return rowCount;
    //document.getElementById("rowCount").innerText = rowCount;
  }
  function calculateSum() {
      var table = document.getElementById("purchaseOrderTable");
      var totalSum = 0;
        for (var i = 1, row; row = table.rows[i]; i++) {
          var value = parseFloat(row.cells[5].innerText);
          totalSum += value;
      }
      return totalSum;
  }
</script>
<!--Remove Cart Item frome Table row -->
<script>
  function removeRow(button) {
      // Get the parent row of the button
      var row = button.parentNode.parentNode;
      // Remove the row from the table
      row.parentNode.removeChild(row);
    
      // Calculate data field.......... Reloads     
    document.getElementById('id_item_tprice').value = calculateSum();
    document.getElementById("rowCount").innerText = countRows();
  }
</script>
<!-- Be sure to put the links in the right position to avoid dependency issue.-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>

{% endblock %}