{% extends "business_apps/master.html" %}

{% block title %}
  SLT | Add Supplier
{% endblock %}

{% block header %}
  Add Supplier
{% endblock %}

{% block breadcrumbs %}
{% url 'slt:business' as url %}
{% url 'slt:supplier' as urls %}
<div style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ul style="display: flex; flex-wrap: wrap; margin-bottom: 0; padding-left: 0;">
    <li class="breadcrumb-item"><a href="{{url}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{urls}}">Supplier</a></li>
    <li class="breadcrumb-item active" aria-current="page"> New Supplier</li>
  </ul>
</div>
{% endblock %}
    
{% block content %}

<div class="main-content">
  <div class="add-container">
    <div class="content">    
      <nav class="navbar navbar-expand">
        <div class="container-fluid">
          <div class="navbar-nav me-auto mb-2 mb-lg-0" style="align-items: center;">
            {% if form.instance.pk %}
              <span style="font-size: 1.3rem; font-weight: bolder; margin-right: 2rem; background-color: rgba(255, 17, 0, 0.822);">Edit Supplier : {{ form.instance.supplier_name }}</span>
            {% else %}
            <span style="font-size: 1.3rem; font-weight: bolder; margin-right: 2rem;">Add Supplier</span>
            {% endif %}
          </div>
          <div>
            <a class="nav-link" href="{% url 'slt:supplier' %}">Supplier List</a>
          </div>
        </div>
      </nav>
      <hr style="margin: .0rem 0rem 1rem 0rem;
      color: inherit;
      background-color: currentColor;
      border: 0;
      opacity: .75;">  
      {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
      {% endif %}
    <form class="form-container" method="POST" enctype="multipart/form-data">
  
      <!-- Security token -->
      {% csrf_token %}
      
      <div class="content">
        <div class="form-row field-supplier_name">
          <div>
            <div class="flex-container">
              <label class="required" for="id_supplier_name">Supplier name:</label>
              <input type="text" name="supplier_name" class="vTextField" maxlength="255" required id="id_supplier_name" value="{{form.instance.supplier_name}}">
            </div>
          </div>
        </div>
        <div class="form-row field-supplier_org">
          <div>
            <div class="flex-container">
              <label class="required" for="id_supplier_org">Supplier org:</label>
              <input type="text" name="supplier_org" class="vTextField" maxlength="255" required id="id_supplier_org" value="{{form.instance.supplier_org}}">
            </div>
          </div>
        </div>
        <div class="form-row field-supplier_desig">
          <div>
            <div class="flex-container">
              <label class="required" for="id_supplier_desig">Supplier desig:</label>
              <input type="text" name="supplier_desig" class="vTextField" maxlength="255" required id="id_supplier_desig" value="{{form.instance.supplier_desig}}">
            </div>
          </div>
        </div>
        <div class="form-row field-supplier_mobile">
          <div>
            <div class="flex-container">
              <label class="required" for="id_supplier_mobile">Supplier mobile:</label>
              <input type="text" name="supplier_mobile" class="vTextField" maxlength="255" required id="id_supplier_mobile" value="{{form.instance.supplier_mobile}}">
            </div>
          </div>
        </div>
        <div class="form-row field-supplier_address">
          <div>
            <div class="flex-container">
              <label class="required" for="id_supplier_address">Supplier address:</label>
              <input type="text" name="supplier_address" class="vTextField" maxlength="400" required id="id_supplier_address" value="{{form.instance.supplier_address}}">
            </div>
          </div>
        </div>
      </div>
      <div class="content">  
        {% if form.instance.pk %}
          <button style="background-color: rgba(243, 15, 156, 0.507);" type="submit" class="btn add-item-btn">Update Supplier</button>
        {% else %}
          <button type="submit" class="btn add-item-btn">Add Supplier</button>
        {% endif %}
      </div> 
    </form>

    </div>
  </div>
</div>
{% endblock %}