{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="shortcut icon" type="image/png" href="{% static 'business_apps/img/favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'business_apps/css/main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
</head>
<body>    
    <div class="containers">
        <main>   
            <div class="main-container">       
                
              <div class="main-content">
                <div class="add-container">
                  <div class="content">
                    <div class="form-header">
                      <div>
                        <h3>
                          {% if form.instance.pk %}
                            <span style="background-color: rgba(255, 17, 0, 0.822);">Edit Supplier : {{ form.instance.supplier_name }}</span>
                          {% else %}
                          <span>Add Supplier</span>
                          {% endif %}
                        </h3>
                
                      </div>
                      <div>        
                        <a href="{% url 'slt:purchase_new' %}">Back ot Purchase</a>
                      </div>
                
                    </div>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                  <form class="form-container" method="POST" enctype="multipart/form-data">
                
                    <!-- Security token -->
                    {% csrf_token %}
                    
                    <div class="content">
                      <div class="form-row field-supplier_name">
                        <div>
                          <div class="flex-container">
                            <label class="required" for="id_supplier_name">Supplier name:</label>
                            <input type="text" name="supplier_name" class="vTextField" maxlength="255" required id="id_supplier_name" value="{{form.instance.supplier_name}}">
                          </div>
                        </div>
                      </div>
                      <div class="form-row field-supplier_org">
                        <div>
                          <div class="flex-container">
                            <label class="required" for="id_supplier_org">Supplier org:</label>
                            <input type="text" name="supplier_org" class="vTextField" maxlength="255" required id="id_supplier_org" value="{{form.instance.supplier_org}}">
                          </div>
                        </div>
                      </div>
                      <div class="form-row field-supplier_desig">
                        <div>
                          <div class="flex-container">
                            <label class="required" for="id_supplier_desig">Supplier desig:</label>
                            <input type="text" name="supplier_desig" class="vTextField" maxlength="255" required id="id_supplier_desig" value="{{form.instance.supplier_desig}}">
                          </div>
                        </div>
                      </div>
                      <div class="form-row field-supplier_mobile">
                        <div>
                          <div class="flex-container">
                            <label class="required" for="id_supplier_mobile">Supplier mobile:</label>
                            <input type="text" name="supplier_mobile" class="vTextField" maxlength="255" required id="id_supplier_mobile" value="{{form.instance.supplier_mobile}}">
                          </div>
                        </div>
                      </div>
                      <div class="form-row field-supplier_address">
                        <div>
                          <div class="flex-container">
                            <label class="required" for="id_supplier_address">Supplier address:</label>
                            <input type="text" name="supplier_address" class="vTextField" maxlength="400" required id="id_supplier_address" value="{{form.instance.supplier_address}}">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="content">  
                      {% if form.instance.pk %}
                        <button style="background-color: rgba(243, 15, 156, 0.507);" type="submit"  onclick="self.close();" class="btn add-item-btn">Update Supplier</button>
                      {% else %}
                        <button type="submit"  onclick="self.close();" class="btn add-item-btn">Add Supplier</button>
                      {% endif %}
                    </div> 
                  </form>

                  </div>
                </div>
              </div>
            </div> 
        </main>
    </div>
        
    {% block footer%}
    <div class="" style="padding: 10px; background: darkcyan;">
        <strong>Dhumketu Web @2025 All Rights Reserve</strong>
    </div>
    {% endblock %}
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="{% static 'business_apps/js/main.js' %}"></script>
    <script>
        window.onunload = refreshParent;
        function refreshParent() {
            window.opener.location.reload();
        }
    </script>
</body>
</html>
