{% extends "business_apps/master.html" %}

{% block title %}
  SLT | Brand List
{% endblock %}

{% block header %}
  Brands List
{% endblock %}
{% block content %}
<div class="main-content">
  <div class="content">     
    {% for msg in messages %}
      {{msg}}
    {% endfor %}  
    <div class="form-header" style="display: flex; background-color: blueviolet;">      
      <div>        
        <h2>Brands List</h2>
      </div>
      <div>        
        <a href="{% url 'slt:new_brand' %}">New Brand</a>
      </div>
    </div>   
        
    <table>
        <tr>
          <th scope="col">Brands Image</th>
          <th scope="col">Brands Name</th>
          <th scope="col">Brands description</th>
          <th scope="col">Action</th>
        </tr>
        {% for data in brand %}
        <tr>
          
          <td><img src="{{ data.brand_image.url }}" style="height: 100px;"></td>
          <td>{{ data.brand_name }}</td>
          <td>{{ data.brand_description }}</td>
          <td>
            <a href="{% url 'slt:brand_update' data.pk %}">Edit</a>
            <a href="">Delete</a>
          </td>
        </tr>
        {% endfor %}
    </table>
    <hr/>


  </div>
</div>

{% endblock %}