{% extends "business_apps/master.html" %}

{% block title %}
  SLT | Dashboard
{% endblock %}

{% block header %}
Dashboard
{% endblock %}


{% block content %}

<div class="main-content">
    <div class="content">                
        <h2>Setting the Viewport</h2>
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
    
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
        
    </div>
    <div class="content">                
        <h2>Setting the Viewport</h2>
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
    
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
        
    </div>
    <div class="content">                
        <h2>Setting the Viewport</h2>
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
    
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
        
    </div>
    <div class="content">                
        <h2>Setting the Viewport</h2>
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
    
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
        
    </div>
</div>

<div class="main-content">
    <div class="content">                
        <h2>Setting the Viewport</h2>
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
    
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
        
    </div>
    <div class="content">                
        <h2>Setting the Viewport</h2>
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
    
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
        
    </div>
    <div class="content">                
        <h2>Setting the Viewport</h2>
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
    
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
        
    </div>
    <div class="content">                
        <h2>Setting the Viewport</h2>
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
    
        <p>This example does not really do anything, other than showing you how to add the viewport meta element.</p>
        
    </div>
</div>

{% endblock %}