{% extends "business_apps/master.html" %}

{% block title %}
  SLT | Category List
{% endblock %}

{% block header %}
  Category List
{% endblock %}
{% block content %}
<div class="main-content">
  <div class="content">    
    <div class="form-header" style="display: flex; background-color: blueviolet;">
      <h2>Category List</h2>
    </div>    
  </div>
  <div class="content"> 
    <div>
      <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-header" style="display: flex; background-color: blueviolet;">
          <h2>Category List</h2>
        </div>
        <div class="form-body">
          {{ form.as_div }}
        </div>
        <button type="submit">Upload</button>
      </form>

    </div>
  </div>
</div>

{% endblock %}