{% extends "business_apps/master.html" %}

{% block title %}
  SLT | Add Category
{% endblock %}

{% block header %}
  Add Category
{% endblock %}
{% block content %}

<div class="main-content">
  <div class="add-container">
    <h3>Add Category</h3>
  <form class="form-container" method="POST" enctype="multipart/form-data">

    <!-- Security token -->
    {% csrf_token %}
    
    <div class="content">
      <div>
        <label for="id_category_name">Category name:</label>
        <input type="text" name="category_name" maxlength="255" required id="id_category_name">      
      </div>  
      <div>      
        <label for="id_category_description">Category description:</label>
        <input type="text" name="category_description" maxlength="255" required id="id_category_description">
      </div>  
    </div>
    <div class="content" style="display: flex; align-items: center; justify-content: center;"> 
      <label for="id_cat_image">Cat image:</label>
      <input id="imageInput" type="file" name="cat_image" accept="image/*" required id="id_cat_image">
      <img id="previewImage" alt="Preview Image" style="width: 200px; height: 200px;">
    <script>
        const imageInput = document.getElementById('imageInput');
        const previewImage = document.getElementById('previewImage');
        function previewSelectedImage() {
          const file = imageInput.files[0];
          if (file) {
              const reader = new FileReader();
              reader.readAsDataURL(file);
              reader.onload = function(e) {
                previewImage.src = e.target.result;
              }
          }
        }
        imageInput.addEventListener('change', previewSelectedImage);
    </script>
    </div>
    <div class="content">  
      <button type="submit" class="btn add-item-btn">Add Category</button>
    </div>  
  </form>
    
  </div>
</div>
{% endblock %}