
<table>
    <tr>
      <th scope="col">Order Code</th>
      <th scope="col">Supplier</th>
      <th scope="col">Total Item</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Due Amt</th>
      <th scope="col">Create Time</th>
      <th scope="col">Created By</th>
      <th scope="col">Action</th>
      <th scope="col">View</th>
    </tr>
    {% for data in page_obj %}
      {% if data.porder_due > 0 %}
      <tr>       
        <td>POI-{{ data.id }}</td>
        <td>{{ data.supplier_id }}</td>
        <td>{{ data.total_items }}</td>
        <td>{{ data.porder_total }}</td>
        <td style="color: rgb(110, 3, 3); font-weight: 600;">{{ data.porder_due }}</td>
        <td>{{ data.porder_create_time|date:'Y-m-d' }}</td>
        <td>{{ data.porder_create_by }}</td>
        <td>
          <a href="{% url 'slt:purchase_due_form' data.pk %}">Payment</a>
        </td>
        <td>
          <a href="{% url 'slt:purchase_invoice' data.pk %}" target="_blank">View</a>
        </td>
      </tr>
      {% endif %}
    
    {% endfor %}
</table>