
<table>
    <tr>
      <th scope="col">P Order Code</th>
      <th scope="col">Supplier</th>
      <th scope="col">Total Item</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Order Status</th>
      <th scope="col">Create Time</th>
      <th scope="col">Created By</th>
      <th scope="col">Action</th>
    </tr>
    {% for data in page_obj %}
    <tr>       
      <td>POI-{{ data.id }}</td>
      <td>{{ data.supplier_id }}</td>
      <td>{{ data.total_items }}</td>
      <td>{{ data.porder_total }}</td>
      <td>{{ data.get_porder_status_display }}</td>
      <td>{{ data.porder_create_time|date:'Y-m-d h:m A' }}</td>
      <td>{{ data.porder_create_by }}</td>
      <td>
        <a href="{% url 'slt:purchase_update' data.pk %}">Edit</a>
        <a href="">Delete</a>
      </td>
      <td>
        <a href="{% url 'slt:purchase_invoice' data.pk %}" target="_blank">View</a>
      </td>
    </tr>
    {% endfor %}
</table>