:root{
    --base-color: #201e1e36;
    --text-color: #e9e3e3;
    --text-color-other: #ccc9c9;
    --line-color: #f5f5f5;
    --hover-color: #c1fad4;
    --menu-color: #04a08b;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: var(--base-color);
    font-family: 'Courier New', Courier, monospace;
    min-height: 100dvh; 
    height: 100vh;   
}
.main-content{
    margin: .5rem;
    padding: .5rem;
    display: flex;
    gap: 1rem;
}
.content{
    border: 1px solid var(--line-color);
    border-radius: 1rem;
    padding: .85em;
    background-color: #f2f2;
    flex: 1;
}
.form-header{    
    display: flex;
    background-color: blueviolet;
    padding: .5rem;
    justify-content: space-between;
    align-items: center;
}
.form-container{    
    gap: 1rem;
    display: flex;
    flex-flow: column;    
    padding-top: 1rem;
}
.add-container{
    margin: auto;
    max-width: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.add-item-btn{
    width: -webkit-fill-available;
    border-radius: 1rem;
    padding: .5rem;
    background-color: rgba(61, 226, 10, 0.678);
}

input[type=text], input[type=number], input[type=datetime-local],select {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #dff0bf;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 80%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: .8em;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
